/*
Addd custom square font
*/
@font-face {
  font-family: "Square";
  src: url("./fonts/squarefont/Square.ttf");
}

@font-face {
  font-family: "Squareo";
  src: url("./fonts/squarefont/Squareo.ttf");
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.large-title {
  font-family: "Square";
  font-size: 80px;
  margin: 0;
}

#main-title {
  margin: 20px 0 20px 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#set-size-buttons-container {
  gap: 20px;

}

.grid-size-button {
  font-size: 40px;
  font-family: "Square";
}

.small-title {
  font-family: "Square";
  font-size: 60px;
  margin: 0;
}

#middle-container {
  width: 100vw;
  align-items: start;
  justify-content: center;
}

#left-col {
  position: relative;
  justify-content: start;
  align-items: end;
  height: 100%;
}

#main-grid-div {

}

.box {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#right-col {
  position: relative;
  justify-content: start;
  align-items: start;
  height: 100%;
}

.row-div {
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.col-div {
  border: solid 1px red;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
}

#color-buttons-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  row-gap: 25px;
}

.color-button {
  border: none;
  width: 50px;
  height: 50px;
  box-shadow: 6px 8px #999;
}

.color-button:hover {
  filter: brightness(0.8);
}

.color-button:active {
  box-shadow: 6px 4px #666;
  transform: translateY(4px);
}

/* vvvvv Button Colors vvvvv */
#color-red {
  background-color: red;
}

#color-blue {
  background-color: blue;
}

#color-yellow {
  background-color: yellow;
}

#color-orange {
  background-color: orange;
}

#color-black {
  background-color: black;
}

#color-rainbow {
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
);
}
/* ^^^^^ Button Colors ^^^^^ */


#eraser-container {
  width: 100%;
  margin: 25px 0 0 0;
  align-items: end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  row-gap: 25px;
}
#eraser {
  width: 75px;
  grid-column: 3;
}

#shadow-title {
  margin: 20px auto auto auto;
}

#shadow-buttons-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  row-gap: 25px;
}

.shadow-button {
  border: none;
  width: 50px;
  height: 50px;
  box-shadow: 6px 8px #999;
  font-size: 18px;
  font-family: "Square";
  text-align: center;
}

.shadow-button:hover {
  filter: brightness(0.8);
}

.shadow-button:active {
  box-shadow: 6px 4px #666;
  transform: translateY(4px);
}

#button-minus-10 {
  
  background-color: #bbbaba;
}

#button-reset {
  background-color: #e0dfdf;
  background-image: url(./assets/reset.svg);
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: center;
  
}

#button-plus-10 {
  background-color: #eeeeee;
}